swiper-slide {
  text-align: center;
  font-size: 1px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container::part(bullet-active) {
  background-color: #ff754b;
}

