<div
  class="h-screen flex items-center justify-center bg-[length:1436px_881px] bg-center bg-gray-50"
  style="background-image: url('assets/imgs/carros-4.jpg')"
>
  <div class="w-1/2 p-6 rounded-md shadow-2xl bg-white">
    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-semibold">User</h1>
      <button
        (click)="navigateToHome()"
        type="button"
        class="bg-[#ED5A2F] rounded-md px-6 py-1 text-white font-medium hover:bg-[#ff754b] transition duration-300 ease-in-out"
      >
        Back
        <fa-icon icon="arrow-left" class="pl-2 text-white" />
      </button>
    </div>
      <div class="grid grid-cols-1 gap-x-5 gap-y-6">
        <div class="">
          <app-input
            label="Name"
            name="nome"
            type="text"
            [disabled]="true"
            [ngModel]="usuario?.nome"
          >
          </app-input>
        </div>

        <div class="">
          <app-input
            label="Login"
            name="login"
            [disabled]="true"
            type="email"
            [ngModel]="usuario?.login"
          >
          </app-input>
        </div>

        @if(isAdmin) {
        <div>
          <app-input
            label="Roles"
            name="role"
            type="text"
            [disabled]="true"
            [ngModel]="usuario?.authorities"
          >
          </app-input>
        </div>
        }
      </div>
  </div>
</div>
